<div style="width:100%;height:250px;">
    <div class="panel panel-default help_title" style="border-radius:10px;margin-top:15px;">
        <div class="panel-heading">
            <a>欲知更多详情请咨询</a>
        </div>
        <div class="panel-body" style="margin-left:10px;">
            <ul class="list-unstyled" style="font-size:16px;">
                <li>
                    <span>上海：</span>
                    <a class="hdTel" href="tel:021 6555 8710">
                        <i class="fa fa-phone">
                        </i>
                    </a>
                    <span>
                        021-6555 8710
                    </span>
                </li>
                <li>
                    <span>郑州：</span>
                    <a class="hdTel" href="tel:0371 6629 9398">
                        <i class="fa fa-phone">
                        </i>
                    </a>
                    <span>
                        0371-6629 9398
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>