@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bannerN">
    <div class="imgFull">
        <img src="~/Res/picture/5df8f48ab160adae7bd00c38412aa747.jpg" class="img-responsive">
    </div>
    <h2 class="banH2 wow fadeInUp">
        @ViewBag.Title
    </h2>
</div>
<div class="mainBg">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft">
                    <div class="contactWay">
                        <!--<h3>XX科技</h3>-->
                        <p>
                            <strong>
                                <span style="font-size:18px;">
                                    上海标源生物科技有限公司
                                    <br />
                                </span>
                            </strong>
                            <span style="font-size:18px;">
                                <span style="font-size:14px;">
                                    地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;址：上海市虹口区汶水东路918号2号楼2楼108室
                                </span>
                                <br />
                                <span style="font-size:14px;">
                                    客服邮箱：bioyuan@bioyuan.com
                                    <br />
                                </span>
                                <span style="font-size:14px;">
                                    联系电话：021-6555 8710
                                    <br />
                                </span>
                                @*<span style="font-size:14px;">
                                    客服电话：
                                    <span style="font-size:small;">
                                        021-6555 8710
                                    </span>
                                    （周一至周五 09:00—17:00)
                                </span>
                                <br />
                                <span style="font-size:14px;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    13888888888(24小时)
                                </span>*@
                            </span>
                            <strong>
                                <span style="font-size:18px;">
                                    <br />
                                    <div>
                                        <br />
                                    </div>
                                    <br />
                                </span>
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight">
                    <ul class="contactShare list-unstyled list-inline">
                        <li>
                            <a class="conShIco" href="http://p.qiao.baidu.com/cps/chat?siteId=88888888&userId=11221338"
                               target="_blank">
                                <i class="fa fa-qq">
                                </i>
                                <p>
                                    在线客服
                                </p>
                            </a>
                        </li>
                        <li>
                            <a class="conShIco" href="javascript:;">
                                <i class="fa fa-weixin">
                                </i>
                                <p>
                                    微信公众号
                                </p>
                            </a>
                            <div class="conWx">
                                <img src="picture/b13f340daab74469a5b358ff7342c861.jpg" class="img-responsive">
                            </div>
                        </li>
                        <li>
                            <a class="conShIco" href="http://weibo.com/2471801103">
                                <i class="fa fa-weibo">
                                </i>
                                <p>
                                    新浪微博
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_map" id="dituContent">
    </div>
</div>



