@{
    ViewBag.Title = "上海标源生物科技有限公司官网首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bannerN">
    <div class="imgFull">
        <img src="~/Res/picture/5df8f48ab160adae7bd00c38412aa747.jpg" class="img-responsive">
    </div>
    <h2 class="banH2 wow fadeInUp">
        首页
    </h2>
</div>
<div class="box1Bg">
    <div class="box1TopBg">
        <div class="container">
            <div class="title text-center">
                <h2 class="wow fadeInUp">
                    产品与平台应用
                </h2>
                <div class="titleBrief wow fadeInUp">
                    <p style="font-size:16px;">
                        我们有专业的团队，有完善的医学实验室质量控制解决方案，可以为您提供完善的质量控制产品以及优质的质量管理平台
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box1CenBg">
            <div class="wavesBg">
                <canvas id="waves" class="waves"></canvas>
            </div>
            <div class="container">
                <div class="box1Cen wow fadeInUp">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            <div class="item active" >
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6" style="float:right;">
                                            <h3 class="box1CenH3">
                                                <strong>
                                                    PC端应用
                                                </strong>
                                            </h3>
                                            <div class="box1CenBrief">
                                                <p>
                                                    我们拥有一款基于"大数据+云技术"的医学实验室质量管理的移动互联网平台
                                                </p>
                                            </div>
                                            <ul class="box1CenItem list-unstyled row">
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        室间质评
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        室内质控
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        室内质控室间化
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        ISO15189性能验证
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        实验室认可
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="box1BotMore">
                                                <a href="#">
                                                    了解详情
                                                    <img src="~/Res/picture/box1botmore2.png" class="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img src="~/Res/picture/88a5e9e7bcc754d0cdb6a3c5f0c6e5db.png" alt="...">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6" style="float:right;">
                                            <h3 class="box1CenH3">
                                                <strong>
                                                    移动端应用
                                                </strong>
                                            </h3>
                                            <div class="box1CenBrief">
                                                <p>
                                                    可视化质控图形报表：质控图日报表•月报表•总报表•室间质评成绩单
                                                </p>
                                            </div>
                                            <ul class="box1CenItem list-unstyled row">
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        舆情秘书
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        重点人物监控
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        智慧网评
                                                    </a>
                                                </li>
                                                <li class="col-sm-12 col-md-6 ellipsis">
                                                    <a href="#">
                                                        智慧研判
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="box1BotMore">
                                                <a href="#">
                                                    了解详情
                                                    <img src="~/Res/picture/box1botmore2.png" class="">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <img src="~/Res/picture/88a5e9e7bcc754d0cdb6a3c5f0c6e5db.png" alt="...">
                            </div>
                        </div>

                        <a class="box1CenPrev" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="box1CenNext" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="box1BotBg">
        <div class="container">
            <ul class="box1Bot list-unstyled row text-center">
                <li class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp">
                    <a href="#">
                        <div class="box1BotImgBg">
                            <div class="box1BotCir">
                            </div>
                            <div class="box1BotImg">
                                <img src="~/Res/picture/box1botimg1.png" class="img-responsive">
                            </div>
                        </div>
                        <h3 class="box1BotH3 ellipsis">
                            质控方案推荐
                        </h3>
                        <div class="box1BotBrief">
                            <p>
                                针对实验室需要求，推荐/建立质控方案
                            </p>
                        </div>
                        <div class="box1BotMore">
                            了解详情
                            <img src="~/Res/picture/box1botmore1.png" class="showsIn">
                            <img src="~/Res/picture/box1botmore2.png" class="hides">
                        </div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp">
                    <a href="#">
                        <div class="box1BotImgBg">
                            <div class="box1BotCir">
                            </div>
                            <div class="box1BotImg">
                                <img src="~/Res/picture/box1botimg3.png" class="img-responsive">
                            </div>
                        </div>
                        <h3 class="box1BotH3 ellipsis">
                            辅助分析
                        </h3>
                        <div class="box1BotBrief">
                            <p>
                                多维度失控原因分析，针对性改进
                            </p>
                        </div>
                        <div class="box1BotMore">
                            了解详情
                            <img src="~/Res/picture/box1botmore1.png" class="showsIn">
                            <img src="~/Res/picture/box1botmore2.png" class="hides">
                        </div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp">
                    <a href="#">
                        <div class="box1BotImgBg">
                            <div class="box1BotCir">
                            </div>
                            <div class="box1BotImg">
                                <img src="~/Res/picture/box1botimg3.png" class="img-responsive">
                            </div>
                        </div>
                        <h3 class="box1BotH3 ellipsis">
                            统计建模
                        </h3>
                        <div class="box1BotBrief">
                            <p>
                                利用大数据和统计技术，新建数据分析模型
                            </p>
                        </div>
                        <div class="box1BotMore">
                            了解详情
                            <img src="~/Res/picture/box1botmore1.png" class="showsIn">
                            <img src="~/Res/picture/box1botmore2.png" class="hides">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>    
</div>

