@model Models.News

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bannerN">
    <div class="imgFull">
        <img src="~/Res/picture/5717574e2fc88a4018415bc81e49e5d7.jpg" class="img-responsive" />
    </div>
    <h2 class="banH2 wow fadeInUp">
        质控产品
    </h2>
</div>

<div class="mainBg">
    <div class="container">
        <div class="article">
            <div class="arLef">
                <div class="arTop text-center">
                    <h1 class="arTopTit">
                        住建部舆情培训班特邀XX科技授课 为政企舆情应对建言献策
                    </h1>
                    <p>
                        <span>
                            <i class="fa fa-clock-o">
                            </i>
                            2017-09-01
                        </span>
                        <span>
                            <i class="fa fa-eye">
                            </i>
                            浏览：30
                        </span>
                    </p>
                </div>
                <div class="arCon">
                    <p>
                    <p style="text-indent:22pt;">
                        <span style="font-size:16px;">
                            2017年8月31日，XX科技董事长李青龙先生受邀为《中国建设报》主办的“住建部舆情应对培训班”进行现场授课。作为首席舆情处置专家、中国建设报大数据顾问，李青龙董事长依托其在大数据领域多年的研究与实践，在现场有针对性的系统讲解了在互联网+时代，政企部门如何有效应对突发事件和导控社会热点舆论，旨在协助住建部各系统相关领导高效提升舆情应对的工作水平。
                        </span>
                    </p>
                    <br />
                    <span style="font-size:16px;">
                    </span>
                    <img alt="" src="picture/20170907152105_83290.jpg" />
                    <br />
                    <span style="font-size:16px;">
                    </span>
                    <br />
                    <span style="font-size:16px;">
                    </span>
                    <br />
                    <span style="font-size:16px;">
                    </span>
                    <img alt="" src="picture/20170907152132_44494.jpg" />
                    <br />
                    <span style="font-size:16px;">
                    </span>
                    <br />
                    <p align="center" style="text-align:center;text-indent:22.1pt;">
                        <b>
                            <span style="font-size:16px;">
                                图
                            </span>
                        </b>
                        <b>
                            <span style="font-size:16px;">
                                ：
                            </span>
                        </b>
                        <b>
                            <span style="font-size:16px;">
                                李青龙董事长为住建部授课培训
                            </span>
                        </b>
                    </p>
                    <p style="text-indent:22pt;">
                        <span style="font-size:16px;">
                            自党的十八大以来，以习近平同志为核心的党中央高度重视新闻舆论工作。在“2·19”党的新闻舆论工作座谈会上，习近平总书记着眼党的工作全局、着眼新闻传播规律、着眼国内外形势发展，提出了党的新闻舆论工作职责和使命的48字方针，学习和贯彻好该项方针成为各级部门当前和今后一段时期的重要任务，此次培训会正是贯彻落实此方针政策的具体举措。
                        </span>
                    </p>
                    <p style="text-indent:22pt;">
                        <span style="font-size:16px;">
                            “互联网+时代，网络资讯与舆情无时无刻无地不在全速互动，舆情监测刻不容缓，紧迫性日益突显。”会上，李青龙董事长为大家分析了舆情影响力日益增长的现状。移动互联网的快速发展，网络媒介的日益渗透，使得互联网社交舆论的频次与热度持续增强，越来越多的人通过社交新媒体发声，高速、超量、多样化、去中心化的大众网络话语权正在形成，文本与网络舆情信息量高速增长，呈爆发式传播势态。
                        </span>
                    </p>
                    <p style="text-indent:22pt;">
                        <span style="font-size:16px;">
                            在网络舆情信息大爆炸的当下，政企部门如何去发现舆情？发现后该如何进行舆情导控？对此，李青龙董事长分享了XX科技利用大数据应对舆情的实用解决方案及经典应用案例。结合XX科技的舆情秘书、重点人物监控、智慧研判、舆情报告四大主打产品，从发现舆情、控制引导舆情、舆情形式研究判断到多维度舆情报告呈现，李董进行了全面解析；并以江苏12345热线文本大数据平台为例，说明科学管理舆情全流程如何帮助政府部门精准管理、提高决策科学性及公共服务能力。
                        </span>
                    </p>
                    <p style="text-indent:22pt;">
                        <span style="font-size:16px;">
                            XX科技致力帮助政企部门建立科学系统的舆情处理系统，并针对每个流程打磨专项产品，能够有效提升政府部门舆情应对的科学性，快速、准确、全面的发现舆情信息，为舆情应对决策提供有效依据和预警，已成为众多政府机构的有力助手。目前，XX科技和《中国建设报》联合，基于住建行业，共同打造了一系列【智慧数说建设】的内容产品，致力于借助大数据技术手段，为住建服务领域提供强有力的数据信息产品，同时有效提升建设报在住建领域的公信力及权威性。
                        </span>
                    </p>
                    <img alt="" src="picture/20170907152207_11574.jpg" />
                    <span style="font-size:16px;">
                    </span>
                    <span style="font-size:16px;">
                    </span>
                    <br />
                    <span style="font-size:16px;">
                    </span>
                    <p align="center" style="text-align:center;text-indent:20.1pt;">
                        <b>
                            <span style="font-size:16px;">
                                图：
                            </span>
                        </b>
                        <b>
                            <span style="font-size:16px;">
                                李青龙董事长
                            </span>
                        </b>
                        <b>
                            <span style="font-size:16px;">
                                与建设报领导为学员颁发结业证书
                            </span>
                        </b>
                    </p>
                    <span style="font-size:16px;">
                    </span>
                    <p style="text-indent:22pt;">
                        <span style="font-size:16px;">
                            培训尾声，李青龙董事长与《中国建设报》领导共同为学员颁发了结业证书，并表示XX科技将与住建部进一步加强大数据应用领域的合作，继续参与住建部新闻发言人与舆情应对培训后期合作，并成立XX科技智库住建大数据专委会，为构建智慧住建生态系统提供技术支撑，推动住建创新发展，让大数据的智慧成果惠及到更多政务服务领域。
                        </span>
                    </p>
                    <span style="font-size:16px;">
                    </span>
                    <br />
                    </p>
                </div>
                <a href="#" class="reList">
                    <i class="fa fa-navicon">
                    </i>
                    返回列表
                </a>
            </div>
            <div class="arRig">
                <ul class="pager list-unstyled">
                    <li>
                        <p>
                            <i class="fa fa-long-arrow-left">
                            </i>
                            上一篇：
                        </p>
                        <a href="#">
                            没有了
                        </a>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-long-arrow-right">
                            </i>
                            下一篇：
                        </p>
                        <a href="/Home/About/NewsShow">
                            XX科技出席清华大学公共管理高层论坛 打造城市治理的智慧引擎
                        </a>
                    </li>
                </ul>
                <div class="share">
                    <span>
                        <i class="fa fa-share-alt">
                        </i>
                        分享给朋友：
                    </span>
                    <ul class="shareList list-unstyled bdsharebuttonbox">
                        <li>
                            <a href="#" class="shareIco1" data-cmd="tsina">
                                新浪微博
                            </a>
                        </li>
                        <li>
                            <a href="#" class="shareIco2" data-cmd="sqq">
                                腾讯QQ
                            </a>
                        </li>
                        <li>
                            <a href="#" class="shareIco3" data-cmd="weixin">
                                微信
                            </a>
                        </li>
                        <li>
                            <a href="#" class="shareIco4" data-cmd="qzone">
                                QQ空间
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
