@model Models.News

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "更多资讯";
}

<div class="bannerN">
    <div class="imgFull">
        <img src="~/Res/picture/5df8f48ab160adae7bd00c38412aa747.jpg" class="img-responsive">
    </div>
    <h2 class="banH2 wow fadeInUp">
        @ViewBag.Title
    </h2>
</div>

<div class="panel-heading" id="panel-heading-breadcrumb">
    <div class="container">
        当前位置：
        <ol class="breadcrumb" id="breadcrumb">
            <li><a href="/Home/Index">首页</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="content-body" style="margin-top:0;padding-top:0;margin-left:3px;">
                <div class="nePg">
                    <!--新闻列表开始-->
                    <div class="newsList">
                        <ul class="row" style="margin-left:0;margin-right:0;">
                            <li>
                                <div class="neliTime" style="float:left;">
                                    <h3>15</h3>
                                    <p>2017/5</p>
                                </div>
                                <a class="neliCon" href="/Home/NewsDetail">
                                    <h3>加大养殖帮扶降低物流成本</h3>
                                    <p>
                                        昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省商务厅介绍， 去昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省...
                                    </p>
                                </a>
                            </li>
                            <li>
                                <div class="neliTime">
                                    <h3>15</h3>
                                    <p>2017/5</p>
                                </div>
                                <a class="neliCon" href="/Home/NewsDetail">
                                    <h3>加大养殖帮扶降低物流成本</h3>
                                    <p>
                                        昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省商务厅介绍， 去昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省...
                                    </p>
                                </a>
                            </li>
                            <li>
                                <div class="neliTime">
                                    <h3>15</h3>
                                    <p>2017/5</p>
                                </div>
                                <a class="neliCon" href="/Home/NewsDetail">
                                    <h3>加大养殖帮扶降低物流成本</h3>
                                    <p>
                                        昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省商务厅介绍， 去昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省...
                                    </p>
                                </a>
                            </li>
                            <li>
                                <div class="neliTime">
                                    <h3>15</h3>
                                    <p>2017/5</p>
                                </div>
                                <a class="neliCon" href="/Home/NewsDetail">
                                    <h3>加大养殖帮扶降低物流成本</h3>
                                    <p>
                                        昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省商务厅介绍， 去昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省...
                                    </p>
                                </a>
                            </li>
                            <li>
                                <div class="neliTime">
                                    <h3>15</h3>
                                    <p>2017/5</p>
                                </div>
                                <a class="neliCon" href="/Home/NewsDetail">
                                    <h3>加大养殖帮扶降低物流成本</h3>
                                    <p>
                                        昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省商务厅介绍， 去昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省...
                                    </p>
                                </a>
                            </li>
                            <li>
                                <div class="neliTime">
                                    <h3>15</h3>
                                    <p>2017/5</p>
                                </div>
                                <a class="neliCon" href="/Home/NewsDetail">
                                    <h3>加大养殖帮扶降低物流成本</h3>
                                    <p>
                                        昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省商务厅介绍， 去昨日召开的省政府常务会提出11点要求，目的是平抑猪肉价格、确保食品安全、加大养殖帮扶,据省...
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <nav aria-label="Page navigation" class="page">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--新闻列表结束-->
                </div>
            </div>
        </div>
    </div>
</div>






